#main{
      background-color: #025939;
		width: 55%;
		
		
}
#head{
		text-align: center;
		font-size: 50px;
		margin-bottom: -100px;
		padding-bottom: 20px;
		margin: auto;
		text-shadow: 4px 4px 2px gray;
}
#name{
	position: static;
	top: 50%;
}
#words{
		font-size: 35px;
}
#LittleHeads{
		font-size: 45px;
		text-shadow: 4px 4px 2px gray;
}
#searchbar{
		position: fixed;
		top: 2%;
		right: 5%;
		background-color: #025939;
		color: pigmentgreen;
		font-weight: bold;
		width: 20%;
		padding: 15px;
		padding-top:40px;
}
#Ads{
		position: fixed;
		bottom: 5%;
		right: 5%;
		background-color: #025939;
		color: pigmentgreen;
		font-weight: bold;
		width: 20%;
		padding: 15px;
		padding-top:40px;
		opacity: 1;
}
#ad{
	width: 80%;
}
	@media screen and (max-width: 1280px) {
	#searchbar {
	    	width: 35%;
	}
	#ad{
		width: 90%;
	}
	#main{
	      background-color: blue;
	}
	}
#links{
	text-align: center;
}
#right{
	float: right;
}
#left{
	float: left;
}
#spon{
	font-size: 36px;
	margin-bottom: 0px;
}
a{
	display: block;
	padding: 8px;	
	margin: 5px;
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-repeat: no-repeat;
	background-size: auto;
	width: 85%;
	text-align: center;
	             }		
a:link {   
		text-decoration: none;
                color: #3d9985;
		text-shadow: .5px .5px .5px black;
                }
a:visited {
		text-decoration: none;
                color: #3d9985;
		text-shadow: .5px .5px .5px black;
		          }   
a:hover {
		text-decoration: none;
		color: white; 
		background-color: #689bed;	
		font-weight: bold;
	             } 
body{
		background: url("../images/Background.png");
		background-attachment: fixed;
		color: pigmentgreen;
		font-weight: bold;
					 }
section{
}
article{
		margin: 10px; 
}
hr{
		color: pigmentgreen;
}
img{
	width: 17%;
}
