#main{
      background-color: #025939;
		width: 55%;
		
		
}
#head{
		text-align: center;
		font-size: 50px;
 		opacity: .8;
		margin-bottom: -100px;
		padding-bottom: 20px;
		margin: auto;
		text-shadow: 4px 4px 2px gray;
}
#words{
		font-size: 35px;
}
#LittleHeads{
		font-size: 45px;
}
#searchbar{
		position: fixed;
		top: 5%;
		right: 5%;
		background-color: #025939;
		opacity: .7;
		color: pigmentgreen;
		font-weight: bold;
		width: 20%;
		padding: 15px;
		padding-top:40px;
}
#Ads{
		position: fixed;
		bottom: 5%;
		right: 5%;
		background-color: #025939;
		opacity: .7;
		color: pigmentgreen;
		font-weight: bold;
		width: 20%;
		padding: 15px;
		padding-top:40px;
}
@media screen and (max-width: 480px) {
  #Ads {
    width: 35%;
  }
}
#ad{
	
}
#links{
	text-align: center;
}
a{
	display: block;
	padding: 8px;	
	margin: 10px;
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-color: aquamarine;
	border: 2px solid black;
	border-radius: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-repeat: no-repeat;
	background-size: auto;
	width: 85%;
	text-align: center;
	             }		
a:link {   
		text-decoration: none;
                color: #3d9985;
		text-shadow: .5px .5px .5px black;
                }
a:visited {
		text-decoration: none;
                color: #3d9985;
		text-shadow: .5px .5px .5px black;
		          }   
a:hover {
		text-decoration: none;
		color: white; 
		background-color: #689bed;	
		font-weight: bold;
	             } 
body{
		background: url("../images/Background.png");
		Background-attachment: fixed;
		color: pigmentgreen;
		font-weight: bold;
					 }
section{
		opacity: .7;
}
article{
		margin: 10px; 
}
hr{
		color: pigmentgreen;
}
img{
	width: 80%;
}
